body {
  background-color: white;
  margin: 0 0 0 0;
}

h1, h2, h3, h4, h5, p {
  color: black;
  font-family: 'Open Sans', sans-serif;
}

/* Navbar *********************/
.container-fluid {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.logo-img {
  width: 5%;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* Main Page *********************/
#img1 {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#img_canvas {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.my_container {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 0 0 0;
  width: 100%;
  padding: 0 0 0 0;
}

.container_img {
  width: 25%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.img_col {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.container-fluid {
  padding: 1% 12%;
  text-align: center;
}

/* STOP COMPROMISING *************/
.logo-img2 {
  width: 12%;
  padding-bottom: 50px;
  padding-top: 30px;
}

.logos {
  width: 40%;
  padding-top: 8%;
  text-align: center;
}

.my_container2 {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 0 0 0;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.bespoke {
  padding-top: 5%;
  padding-bottom: 3%;
}

hr {
  border: line #black 10px;
  border-bottom: none;
  width: 80%;
  margin: 100px auto;
  margin-bottom: 50px;
}

/* Quote *********************/
#quote {
  background-image: url(./utilities/images/quote.jpg);
  background-position: center;
  height: 320px;
}
h2 {
  color: white;
  font-weight: bold;
}
.my_container3 {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 0 0 0;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 5%;
}

/* Our Story ****************/
.story-img {
  width: 95%;
  padding-top: 15%;
}
h4 {
  font-weight: bolder;
}

.story-column {
text-align: justify;
padding-top: 10%;
}

/* ready to wear ****************/

.weartowear1 {
  width: 80%;
  padding-top: 10%;
}


/* location **********************/
/* .mapa {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.mapa:hover {
  width: 60%;
  backdrop-filter: blur(10px);
  filter: blur(4px);
  transition: 0.5s ease;
} */

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  backdrop-filter: blur(10px);
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.2;
  filter: blur(4px);
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #ffffff;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

.readywear{
  padding-top: 10%;
}

/* Taylor Style ******************/

.taylorstilo{
  padding-top: 10%;
}

.espacio{
  padding-top: 5%;
}
