body {
  background-color: white;
  margin: 0 0 0 0;
}

/* Main Page *********************/

#img1 {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#img_canvas {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.container_img {
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.img_col {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.container-fluid {
  padding: 1% 12%;
  text-align: center;
}


/* nav bar ***********************/
.logo-img {
  width: 9%;
}

/* STOP COMPROMISING *************/
